<div class="download-controls">
  <Input
    @id="select-all"
    @type="checkbox"
    {{on "click" this.selectAll}}
  />

  <div class="selected-count">{{this.theTotal}}</div>

  <button
    type="button"
    class="download-button"
    disabled={{this.isDisabled}}
    {{on "click" this.downloadSelected}}
  >
    <FaIcon @icon="download" /> Download Selected
  </button>
</div>

<div class="table">
  {{#each this.headers as |header|}}
    <div class="heading">{{header}}</div>
  {{/each}}

  {{#each @model as |file|}}
    <div class="row {{if file.selected 'selected'}}" {{on "click" (fn this.selectRow file)}} role="button">
      <div class="cell"><Input @type="checkbox" @checked={{file.selected}} /></div>
      <div class="cell name">{{file.name}}</div>
      <div class="cell device">{{file.device}}</div>
      <div class="cell path">{{file.path}}</div>
      <div class="cell status-icon">
        {{#if (eq file.status "available")}}<FaIcon class="green" @icon="circle" />{{/if}}
      </div>
      <div class="cell status">{{file.status}}</div>
    </div>
  {{/each}}
</div>
